.table-recents {
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
    width: 100%;
}

.table-head-recents {
    background-color: #f1f1f1;
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
    height: 30px;
    font-size: large;
}

.table-cell-recents {
    border: 1px solid black;
}